<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log" >


  <variable name="format" value="${longdate} (${uppercase:${level}}): ${message}" />
  <variable name="projectName" value="UrdfUnity" />
  <variable name="localLogDirectory" value="${basedir}/logs/${shortdate}" />

  <targets>
    <target name="debugFile" xsi:type="File" fileName="${localLogDirectory}/${var:projectName}_${longdate}_debug.log" layout="${format}" />
    <target name="debugConsole" xsi:type="ColoredConsole" layout="${format}" />
    <target name="prodFile" xsi:type="File" fileName="${localLogDirectory}/${var:projectName}_${longdate}_prod.log" layout="${format}" />
    <!-- TODO: Use Network target for prod -->
  </targets>
  
  <rules>
    <logger name="*" minlevel="Debug" writeTo="debugFile" />
    <logger name="*" minlevel="Debug" writeTo="debugConsole" />
    <logger name="*" minlevel="Info" writeTo="prodFile" />
  </rules>
</nlog>